<div class="siteSidebar pageNavListBounder">
  <div class="mainSidebar">
    <ul class="pageNavList">
      {{#sidebarSubMenu "Payshares Core"}}
        {{>sidebarSubItems glob="payshares-core/software/*.html"}}
        {{>sidebarSubItems glob="payshares-core/software/*.pdf"}}
      {{/sidebarSubMenu}}

      <li class="pageNavList__item"><a href="https://github.com/payshares/go/tree/master/services/federation">Federation Server</a></li>
      <li class="pageNavList__item"><a href="https://github.com/payshares/bridge-server">Bridge Server</a></li>
      <li class="pageNavList__item"><a href="https://github.com/payshares/go/tree/master/tools/payshares-archivist">Archivist</a></li>
      <li class="pageNavList__item"><a href="https://github.com/payshares/horizon">Horizon</a></li>
    </ul>
  </div>
</div>
